.footer-block
  .footer-block__box
    プライバシーポリシー
  .footer-block__box
    メルカリ利用規約
  .footer-block__box
    特定商取引に関する表記
.footer-logo
  = image_tag "logo_gray.svg", class: 'footer-logo--icn'
  %p © Mercari, Inc.