.member-box
  .member-box__header
    =link_to root_path,class:"down-header__a--link" do
      = image_tag "fmarket_logo_red.svg", class: 'member-box__header--icn'
  .progress__bar 
    .signup__bar
    %li
      会員情報
    %li
      電話番号認証
    %li
      お届け先住所入力
    %li
      支払い方法
    %li
      完了