.exhibit-main
  .single-header 
    = image_tag "fmarket_logo_red.svg", class: 'single__header--icn'
  .main
    .single__main
      .single__container
        .chapter__head__registration
          アカウントをお持ちでないかた
          .login-no-account 
            新規会員登録
      .login-form-inner
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.icon-facebook
          Facebookでログイン
        %button#google-login.btn-default.btn-sns.btn-sns-google
          Googleでログイン
      
      .login-form-inner
        .form-group
          %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
        .form-group
          %input.login-input-text.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
        .form-group
          .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
            %div{:style => "width: 304px; height: 78px;"}
              %div
                %iframe{:frameborder => "0", :height => "78", :name => "a-es3v6xw7palz", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=mhgGrlTs_PbFQOW4ejlxlxZn&size=normal&cb=uvu3wf6bvpg8", :width => "304"}
              %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
        %button.login-submit.btn-default.btn-red{:type => "submit"} ログイン
        %input{:name => "login_callback", :type => "hidden", :value => "/jp/"}/
        %input{:name => "__csrf_value", :type => "hidden", :value => "c5d999920a153584c06e686d1c1d8d66930b13d894f511e9a5b7fbe49ef0737e6505fd4f239366326d7b7a065b301af956736142ffbfd7d1b6042e67d7a03c59f"}/
        = link_to "#" ,class: "form__group__c" do
          パスワードをお忘れの方









  .single__footer
    .single__footer__box
      .single__footer__box__1
        プライバシーポリシー
        -# = link_to('#')
      .single__footer__box__2
        メルカリ利用規約
        -# = link_to('#')
      .single__footer__box__3
        特定商取引に関する表記
        -# = link_to('#')
    .single__footer__logo
      %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1215422380", :width => "80"}/
      %p
        %small © Mercari, Inc.




