.member-registration
  = render partial: "loginheader"
  .main
    .member-main
      .member-main__registration
        発送元・お届け先住所住所入力
      .member-content
        .form
          .form__groups
            お名前
            .form__groupss
              必須
          .form__groupsss--w
            %input{class: "form__groupsss--cc",placeholder: "例) 山田", type: "text",value: ""}
            .form__groupsss--x
            %input{class: "form__groupsss--cc",placeholder: "例) 彩", type: "text", value: ""}
        .form
          .form__groups
            お名前(全角)
            .form__groupss
              必須
          .form__groupsss--w
            %input{class: "form__groupsss--cc", placeholder: "例) ヤマダ", type: "text", value: ""}
            .form__groupsss--x
            %input{class: "form__groupsss--cc", placeholder: "例) アヤ", type: "text", value: ""}
        .form
          .form__groups
            郵便番号
            .form__groupss
              必須
          .form__groupsss
            %input{class: "form__groupsss--cc", placeholder: "例) 123-4567", type: "text", value: ""}
        .form
          .form__groups
            都道府県
            .form__groupss
              必須
          .form__groupsss
            .select-wrap__ha
            %select.select-wrap__ha--default
              %option{value: "北海道"} 北海道
        .form
          .form__groups
            市区町村
            .form__groupss
              必須
          .form__groupsss
            %input{class: "form__groupsss--cc", placeholder: "例) 横浜市横浜市緑区", type: "text", value: ""}
        .form
          .form__groups
            番地
            .form__groupss
              必須
          .form__groupsss
            %input{class: "form__groupsss--cc", placeholder: "例) 123-4567", type: "text", value: ""}
        .form
          .form__groups
            建物名 
            .form__groupss5
              任意
          .form__groupsss
            %input{class: "form__groupsss--cc", placeholder: "例) 柳ビル103", type: "text", value: ""}
        .form
          .form__groups
            電話
            .form__groupss5
              任意
          .form__groupsss
            %input{class: "form__groupsss--cc", placeholder: "例) 09012345678", type: "text", value: ""}
        .btn-default
          %input{type: "submit", class: "btn-default__red", value: "次へ進む" } 
  .single-footer
    = render partial: "footer"