.member-registration
  .member-box
    .member-box__header
      = image_tag "fmarket_logo_red.svg", class: 'member-box__header--icn'
    .progress__bar 
      .signup__bar
      %li
        会員情報
      %li
        電話番号認証
      %li
        お届け先住所入力
      %li
        支払い方法
      %li
        完了
  .main
    .member-main
      .member-main__registration
        会員登録完了
      .member-content
        .form-q
          .form-q__groups
            ありがとうございます
          .form-q__groups--a
            会員登録が完了しました。
        .btn-default__p
        %input{type: "submit", class: "btn-default__p--red", value: "メルカリをはじめる" } 
        = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA-bHFzcc9sjzrAkmi5spWD5tuqHyB6D1LDr_C4_rliH1jwkiT&s", class: 'btn-default__p--icn'
  .single-footer
    .footer-block
      .footer-block__box
        プライバシーポリシー
      .footer-block__box
        メルカリ利用規約
      .footer-block__box
        特定商取引に関する表記
    .footer-logo
      = image_tag "logo_gray.svg", class: 'footer-logo--icn'
      %p © Mercari, Inc.