.member-registration
  = render partial: "loginheader"
  .main
    .member-main
      .member-main__registration
        会員登録完了
      .member-content
        .form-q
          .form-q__groups
            ありがとうございます
          .form-q__groups--a
            会員登録が完了しました。
        .btn-default__p
        %input{type: "submit", class: "btn-default__p--red", value: "メルカリをはじめる" } 
        = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA-bHFzcc9sjzrAkmi5spWD5tuqHyB6D1LDr_C4_rliH1jwkiT&s", class: 'btn-default__p--icn'
  .single-footer
    = render partial: "footer"