.main
  .submain
    .header
      = render partial: "/items/header"
.contents
  = render partial: "menu_head"
  .center
    = render partial: "left"



.main
  .submain
    .footer
      = render partial: "/items/footer"   