.buy_main{
  width: 700px;
  height: 500px;
  background-color: #FFF;
  margin: 0 auto;
}
.buy_header{
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.buy_img{
  text-align: center;
  border-top: 1px solid #f5f5f5;
}
.buy_img_box{
  padding-top: 20px;
}
.buy_info_box{
  height: 130px;
  text-align: center;
}
.buy_info_name{
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.buy_comment_box{
  text-align: center;
}
.buy-box{
  text-align: right;
}
.buy-box_a{
  background-color: #FFF;
  margin-left: 40%;
  padding-top: 20px;
  padding-right: 15px;
  color: #0099e8;
}