.footer
  .footer_img
    =image_tag "https://images.unsplash.com/flagged/photo-1558082517-725f33584e2f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9",class:"foter_img"
  .footer--all
    .footer-overview
      .overview-1
        .overview-about
          .overview-about__list
            メルカリについて
          .overview-about__box
            .overview-about__box--list
              会社概要（運営会社）
            .overview-about__box--list
              採用情報
            .overview-about__box--list
              プレスリリース
            .overview-about__box--list
              公式ブログ
            .overview-about__box--list
              メルカリロゴ利用ガイドライン
        .overview-help
          ヘルプ&ガイド
          .overview-help__box
            .overview-help__box--list
              メルカリガイド
            .overview-help__box--list
              らくらくメルカリ便
            .overview-help__box--list
              ゆうゆうメルカリ便
            .overview-help__box--list
              大型メルカリ便
            .overview-help__box--list
              車体取引ガイド
            .overview-help__box--list
              メルカリあんしん・あんぜん宣言！
            .overview-help__box--list
              偽ブランド品撲滅への取り組み
            .overview-help__box--list
              メルカリボックス
        .overview-privacy
          プラバシーポリシー
          .privacy-box
            .privacy-box__block
              .privacy-box__block--list
                プライバシーポリシー
              .privacy-box__block--list
                メルカリ利用規約
              .privacy-box__block--list
                あんしんスマホサポート制度に関する利用特約
              .privacy-box__block--list
                コンプライアンスポリシー
            .privacy-box__box
              .privacy-box__box--list
                個人データの安全管理に係る基本方針
              .privacy-box__box--list
                特定商取引に関する表記
              .privacy-box__box--list
                資金決済法に基づく表示
              .privacy-box__box--list
                法令順守と犯罪抑止のために
        .overview-country
          国
          .overview-country__box
            .overview-country__box--list
              日本
            .overview-country__box--list
              United States
