.footer
  .footer_img
    =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTpCUO7dWNyb3neT1G9b9sIvI5ZYH2_r3wtx-pZ_bKFtsWMNuex",class:"foter_img"
  .footer--all
    .footer_overview
      .overview_1
        .overview_about
          %ul
            %li メルカリについて
          .overview_about_1
            %ul
              %li 会社概要（運営会社）
              %li 採用情報
              %li プレスリリース
              %li 公式ブログ
              %li メルカリロゴ利用ガイドライン
        .overview_help
          %ul
            %li ヘルプ&ガイド
          .overview_help_1
            %ul
              %li メルカリガイド
              %li らくらくメルカリ便
              %li ゆうゆうメルカリ便
              %li 大型メルカリ便
              %li 車体取引ガイド
              %li メルカリあんしん・あんぜん宣言！
              %li 偽ブランド品撲滅への取り組み
              %li メルカリボックス
        .overview_privacy
          %ul 
            %li プラバシーポリシー
          .overview_privacy_1
            .overview_privacy_2
              %ul
                %li プライバシーポリシー
                %li メルカリ利用規約
                %li あんしんスマホサポート制度に関する利用特約
                %li コンプライアンスポリシー
            .overview_privacy_3
              %ul
                %li 個人データの安全管理に係る基本方針
                %li 特定商取引に関する表記
                %li 資金決済法に基づく表示
                %li 法令順守と犯罪抑止のために
        .overview_country
          %ul
            %li 国
          .overview_country_1
            %ul
              %li 日本
              %li United States
