.main-create
  .header-create
    .header-create-img
      = image_tag src= "http://54.64.93.92/assets/fmarket_logo_red-2ca006fe69110d267a9404a3f41d6333a8c8deeebb7271d53baa22f17b04734b.svg", size: "185x49"
  .body-create
    .box_top
      .box_top_a
        購入内容の確認
    .box_item
      .box_item_sep
        .box_item_sep--a
          = image_tag src= "https://static.mercdn.net/thumb/photos/m79610468836_1.jpg?1576362831", size: "80x80"
        .box_item_detail
          .box_item_detail--a
            NIKE AIR
            .box_item_detail-2
              .box_item_detail--b
                ¥11,000
              .box_item_detail--c
                (税込) 送料込み
    .box_money
      .box_container_all
        .box_container
          .box_money_a
            .box_money_a-1
              支払い金額
            .box_money_a-2
              ¥11,000
          .box_money_b
            .box_money_b--pic
            .box_money_b--point
              ポイントを使用 (所持ポイント: P0)
          .box_way
            .box_way_a
              支払い方法
            .box_way_sep
              .box_way_sep_a
              .box_way_sep_b
                登録してください
                .box_way_c
          .box_5
            .box_5_sep
              .box_5_sep--a
                配送先
              .box_5_sep--b
                変更する
            .box_info_all
              .box_info_all--a
                〒123-1234
              .box_info_all--b
                名古屋市金山
              .box_info_all--c
                山田 太郎
          .box_buy
            .box_buy_a
              購入する
  
    

                 

                    