.main
  .header
  .body
    .box_1
      .box_1_a
    .box_2
      .box_2_sep
        .box_2_sep--a
        .box_2_sep--b
          .box_2_c
    .box_3
      .box_container_all
        .box_container
          .box_3_a
            .box_3_b
              .box_3_b--icon
                .box_4
                  .box_4_sep
                    .box_4_sep_a
                    .box_4_sep_b
                      .box_4_c
                        .box_5
                          .box_5_a
  .footer                            
                 

                    