.main-create
  .header-create
    .header-create-img
      = image_tag src= "http://54.64.93.92/assets/fmarket_logo_red-2ca006fe69110d267a9404a3f41d6333a8c8deeebb7271d53baa22f17b04734b.svg", size: "185x49"
  .body-create
    .box_1
      .box_1_a
        購入内容の確認
    .box_2
      .box_2_sep
        .box_2_sep--a
          = image_tag src= "https://static.mercdn.net/thumb/photos/m79610468836_1.jpg?1576362831", size: "80x80"
        .box_2_detail
          .box_2_detail--a
            NIKE AIR
            .box_2_detail-2
              .box_2_detail--b
                ¥11,000
              .box_2_detail--c
                (税込) 送料込み
    .box_3
      .box_container_all
        .box_container
          .box_3_a
            .box_3_a-1
              支払い金額
            .box_3_a-2
              ¥11,000
          .box_3_b
            .box_3_b--pic
            .box_3_b--point
              ポイントを使用 (所持ポイント: P0)
          .box_4
            .box_4_a
              支払い方法
            .box_4_sep
              .box_4_sep_a
              .box_4_sep_b
                登録してください
                .box_4_c
          .box_5
            .box_5_sep
              .box_5_sep--a
                配送先
              .box_5_sep--b
                変更する
            .box_5_all
              .box_5_all--a
                〒123-1234
              .box_5_all--b
                名古屋市金山
              .box_5_all--c
                山田 太郎
          .box_6
            .box_6_buy
              購入する
  
    

                 

                    