.main
  .sub-main
    .header
      = render partial: "header"
      = render partial: "sellbutton"      
    .body
      .body_img
        =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxYtG4DLzmWmlTGLuY97FwJTfbhhAxhabDBg5dWB8P1mSDqIli&s",:class => "body_img_1"
      .body_category
        .body_category_1
          人気のカテゴリー
        .body_category_2
          .category_1
            .body_category_2_a
              レディース
          .category_2
            .body_category_2_b
              メンズ
          .category_3
            .body_category_2_c
              家電・スマホ・カメラ
          .category_4
            .body_category_2_d
              おもちゃ・ホビー・グッズ
      .body_item
        .body_item_all
          .body_item_1
            レディース新着アイテム
          .body_item_2
            もっと見る  ＞
        .pict_box_all
          - @items.each do |item|
            .pic_3
              .pic_3--img
                .pic_3--img--a
                  =image_tag item.images[0].image,class:"pic3",size:"180x200"
                .pic_3--price
                  =item.price
              .pic_name_3
                =item.name
        .body_item_all_2
          .body_item_3
            メンズ新着アイテム
          .body_item_4
            もっと見る  ＞
        .pic_box_all--2
          .pic_3
            .pic_3--img
              =image_tag "http://t0.gstatic.com/images?q=tbn%3AANd9GcQCPgwrXfP0QwYw7L82aRy_BVd_F7jFpmEt_wiYgUZOKb9GmY9lzq2UNBuLuMQ&usqp=CAc",class:"pic5",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              パーカー
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFGpKOZ3YyaEP2-XacvCbhWiHDrGMdJIneNWimeuiEsTcQzu5_",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              ジャケット
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTLFUTY_3VNaHmxcLZXXo6Y-BZKEeGUuKUG1JHnYRfldd4LmmW",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              スーツ
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQaX_5RIceC7t6Q-99iZ0Ycre0QqnGdezddrnX4g2Q4BJNI4VhT",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              Tシャツ
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFKS1zKEmJQkc_fI0bqTqmoqo_Eu6y2KepJrNFQw--_u6B8Zy7",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              サングラス
          .pic_3
            .pic_3--img
              =image_tag "http://t0.gstatic.com/images?q=tbn%3AANd9GcQCPgwrXfP0QwYw7L82aRy_BVd_F7jFpmEt_wiYgUZOKb9GmY9lzq2UNBuLuMQ&usqp=CAc",class:"pic5",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              パーカー
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFGpKOZ3YyaEP2-XacvCbhWiHDrGMdJIneNWimeuiEsTcQzu5_",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              ジャケット
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTLFUTY_3VNaHmxcLZXXo6Y-BZKEeGUuKUG1JHnYRfldd4LmmW",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              スーツ
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQaX_5RIceC7t6Q-99iZ0Ycre0QqnGdezddrnX4g2Q4BJNI4VhT",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              Tシャツ
          .pic_3
            .pic_3--img
              =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFKS1zKEmJQkc_fI0bqTqmoqo_Eu6y2KepJrNFQw--_u6B8Zy7",class:"pic6",size:"180x200"
              .pic_3--price
                ¥9,000
            .pic_name_3
              サングラス
    .footer
      = render partial: "footer"
      