@import './variablefile';
.member-registration{
  height: 100%; 
  background-color: #f5f5f5 ;
  .member-box{
    height: 128px;
    display: flex;
    justify-content: center;
    &__header{
      &--icn {
        width: 185px;
        height: 49px;
        line-height: 49px;
        margin-top: 30px;
        text-align: center;
      }
    }
    .progress-phone{
      display: flex;
      padding: 40px 0 0 44px;
      border: 0;
      list-style: none;
      .signup-list{
        font-family: $font-family;
        display: flex;
        &__information{
          margin: 0 40px 0 0;
          font-size: 12px;
          text-align: center;
          color: #ccc;
          position: relative;
          &--ball{
            @include ball;
            background: #ea352d;
          }
          &--line{
            background: #ea352d;
            position: absolute;
            left: 30px;
            bottom: 55px;
            width: 100%;
            height: 2px;
          }
        }
        &__phone{
          margin: 0 40px 0 0;
          font-size: 12px;
          text-align: center;
          color: #ea352d;
          position: relative;
          &--ball{
            @include ball;
            background: #ea352d;
          }
          &--left{
            background: #ea352d;
            position: absolute;
            right: 42px;
            bottom: 55px;
            width: 60%;
            height: 2px;
          }
          &--right{
            background: #ccc;
            position: absolute;
            left: 42px;
            bottom: 55px;
            width: 80%;
            height: 2px;
          }
        }
        &__address{
          margin: 0 40px 0 0;
          font-size: 12px;
          text-align: center;
          color: #ccc;
          position: relative;
          &--ball{
            @include ball;
            background: #ccc;
          }
          &--left{
            background: #ccc;
            position: absolute;
            right: 54px;
            bottom: 55px;
            width: 60%;
            height: 2px;
          }
          &--right{
            background: #ccc;
            position: absolute;
            left: 54px;
            bottom: 55px;
            width: 60%;
            height: 2px;
          }
        }
        &__card{
          margin: 0 40px 0 0;
          font-size: 12px;
          text-align: center;
          color: #ccc;
          position: relative;
          &--ball{
            @include ball;
            background: #ccc;
          }
          &--left{
            background: #ccc;
            position: absolute;
            right: 35px;
            bottom: 55px;
            width: 100%;
            height: 2px;
          }
          &--right{
            background: #ccc;
            position: absolute;
            left: 36px;
            bottom: 55px;
            width: 100%;
            height: 2px;
          }
        }
        &__finish{
          font-size: 12px;
          text-align: center;
          color: #ccc;
          position: relative;
          &--ball{
            @include ball;
            background: #ccc;
          }
          &--left{
            background: #ccc;
            position: absolute;
            right: 15px;
            bottom: 55px;
            width: 100%;
            height: 2px;
          }
        }
      }
    }
  }
  .main{
    display: block;
    .member-main{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
    }
    .member-main__registration{
      font-size: 22px;
      padding: 32px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-family: 'Source Sans Pro';
      background-color: #fff;
      font-weight: 600;
    }
  

    .single-content{
      max-width: 343px;
      margin: auto;
      padding: 24px 16px 40px;
    }

    .phone_number{
      font-weight: 600;
      &-default{
        padding: 10px 0 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        width: 100%;
        margin: 8px 0 0;
        padding-left: 20px;
        box-sizing: border-box;
      }
    }

    
    .phone-number_a{
      margin: 10px 0 0;
      font-size: 14px;
      line-height: 1.5;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      display: block;
      width: 100%;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
    }
    .phone-number_b{
        display: block;
        width: 100%;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        text-align: center;
        &-c{
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          width: 100%;
          margin-top: 30px;
          line-height: 48px;
        }
    }

    
    .form-group__text-right{
      color: #0099e8;
      text-decoration: none;
      padding-left: 130px;
      font-size: 14px;
      margin-top: 20px;
      &--link{
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
  .single-footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    .footer-block {
      display: flex;
      justify-content: space-between;
      &__box{
        font-size: 12px;
      }
    }
    .footer-logo{
      margin-top: 60px;
      font-size: 13px;
      &--icn{
        height: 70px;
        width: 90px;
      }
    }
  }
}