.member-registration{
  height: 100%; 
  background-color: #f5f5f5 ;
  .member-box{
    height: 128px;
    display: flex;
    justify-content: center;
    &__header{
      &--icn {
        width: 185px;
        height: 49px;
        line-height: 49px;
        margin-top: 30px;
        text-align: center;
      }
    }
    .progress__bar{
      display: flex;
      padding: 40px 0 0 44px;
      border: 0;
      list-style: none;
    }
  }
  .main{
    display: block;
    .member-main{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
    }
    .member-main__registration{
      font-size: 22px;
      padding: 32px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-family: 'Source Sans Pro';
      background-color: #fff;
      font-weight: 600;
    }
    .member-content{
      max-width: 343px;
      margin: auto;
      padding: 24px 16px 40px;
    }
  }
  .form{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    &__register {
      margin: 0 160px;
    }
    &__groups{
    font-weight: 600;
    display: flex;
    padding-top: 20px;
    }
    &__groups__text{
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__groupss{
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    &__groupsss{
      margin-top: 10px;
      &--cc {
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        width: 90%;
        margin: 8px 0 0;
      }
    }
  }
  .signup-card-list{
    display: flex;
    width: 40px;
    height: 30px;
    line-height: 49px;
    margin-top: 30px;
    text-align: center;
  }
  .select-wrap__half{
    display: inline-block;
    width: calc(50% - 2px);
    margin: 8px 0 0;
    &--default{
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      width: 60%;
    }
  }
  .signup-seqcode-text{
    text-align: right;
    color: #0099e8;
    margin-top: 10px;
  }
  .form-question{
    display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #0099e8;
      color: #fff;
      line-height: 14px;
      font-size: 12px;
      text-align: center;
  }
  .submit-button{
    margin: 24px 0 0;
    text-align: center;
  }
  .btn-default{
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    &__red{
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      width: 100%;
      line-height: 48px;
      margin-top: 10px;
    }
  }
  .single-footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    .footer-block {
      display: flex;
      justify-content: space-between;
      &__box{
        font-size: 12px;
      }
    }
    .footer-logo{
      margin-top: 60px;
      font-size: 13px;
      &--icn{
        height: 70px;
        width: 90px;
      }
    }
  }
}