$sectionclor: #f5f5f5;
$sectionclor1: white;
html, body {
  height: 100%;
  background-color: $sectionclor;
}

.mainbox {
  width: 700px;
  margin: 40px auto 0;  
}

.itembox {
  padding: 24px 40px 40px;
  overflow: hidden;
  background-color: $sectionclor1;
  &__name {
    overflow: hidden;
    font-size: 24px;
    background-color: $sectionclor1;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-
  }
  &__main {
    overflow: hidden;
    margin: 16px 0px 0px;
    background-color:$sectionclor1;
    display: flex;
    justify-content: space-between;
    &__photo {
      width: 300px;
      overflow: hidden;
      background-color: $sectionclor1;
    }
    &__detailtable {
      width: 300px;
      overflow: hidden;
      font-size: 12px;
      box-sizing: border-box;
    }
  }
  &__price {
    overflow: hidden;
    margin: 24px 0px 0px;
    text-align: center;
    background-color: $sectionclor1;
    &__bold {
      font-size: 50px;
      font-weight: 600;
    }
    &__tax {
      font-size: 10px;
      font-weight: normal
    }
    &__shipping {
      font-size: 16px;
      font-weight: normal
    }
  }
  &__a{
    text-decoration: none;
  }
  &__edit{
    height: 60px;
    margin: 16px 0px 0px;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    background:red;
    color: #fff;
    font-weight: 600;
  }
  &__box{
    text-align: center;
    font-size: 20px;
    color: black;
    height: 10px;
  }
  &__stop{
    height: 60px;
    margin: 16px 0px 0px;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    background:rgb(170, 160, 160);
    color: #fff;
    font-weight: 600;
  }
  &__delete{
    height: 60px;
    margin: 16px 0px 0px;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    background:rgb(170, 160, 160);
    color: #fff;
    font-weight: 600;
  }
  &__buy {
    overflow: hidden;
    margin: 16px 0px 0px;
    text-align: center;
    &--btn {
      font-size: 24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #ea352d;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
    }
  }
  &__sold{
    height: 60px;
    margin: 16px 0px 0px;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    background:rgb(170, 160, 160);
    color: #fff;
    font-weight: 600;
  }
  &__description {
    overflow: hidden;
    padding: 32px 0px 0px;
    background-color: $sectionclor1;
  }
  &__button {
    overflow: hidden;
    margin: 16px 0px 0px;
    display: flex;
    justify-content: space-between;
    &__left {
      float: left;
      display: flex;
      &__like {      
        color: #333;       
        background-color: #f5f5f5;
        width: 125px;
        height: 33px;
        padding: 4px;
        border-radius: 15px;
        margin-right: 5px;
      }
      &__flag {       
        background-color: #f5f5f5;
        width: 179px;
        height: 33px;
        padding: 4px;
        padding-left: 18.5px;
        border-radius: 15px;
        &--btn {
          text-decoration: none;
          color: #333;
          font-size: 14px;
        }

      }
    }
    &__right {
      background-color: #f5f5f5;
      width: 260px;
      height: 33px;
      padding: 4px;
      padding-left: 10.5px;
      border-radius: 15px;
      &__all {
        text-decoration: none;
        color: #0099e8;
        font-size: 14px;       
      }
    }
  }
}

.messagecontent {
  margin-top: 10px;
  padding: 24px;
  overflow: hidden;
  background-color:$sectionclor1;
  border-top: black;
  &__attention {
    padding: 8px;
    font-size: 14px;
    background: #fff6de;
  }
  &__text {
    background-color: $sectionclor1;
    margin: 8px 0 0;
    &--file {
      background-color: $sectionclor1;
      margin: 8px 0 0;
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid rgb(207, 205, 205);
      background: #fff;
      font-size: 16px;
      line-height: 1.5;     
    }
  }
  &__submit {
    &--btn {
      box-sizing: border-box;
      width: 100%;
      margin: 8px 0 0; 
      background: #aaa;
      text-align: center;
      color: #fff;
      line-height: 48px;
      cursor: pointer;
    }
  }
}


.navitemlink {
  margin: 24px auto 0;
  height: 20px;
  background-color: $sectionclor;
  justify-content: space-between;
  display: flex;
  &__prev {    
    &__first {
      text-decoration: none;
      color: #0099e8;
      &--btn {
        text-decoration: none;
        color: #0099e8;
      }
    }
  }
  &__next {
    &__first {
      text-decoration: none;
      color: #0099e8;
      &--btn {
        text-decoration: none;
        color: #0099e8;
      }
    }
  }
}

.itemsocialmedia {
  margin: 24px auto;
  padding: 32px 0 24px;
  overflow: hidden;
  background-color: $sectionclor1;
  &__center {
    text-align: center;
    height: 14px;
    width: 100%;
    background-color: $sectionclor1;
  }
  &__box {
    margin: 16px 0 0;
    text-align: center;
    &__facebook {
      &--btn {
        width: 44px;
        height: 44px;
        color: #fff;
        background: #385185;
        border-radius: 4px;
        line-height: 44px;
        font-size: 26px;        
      }
    }
    &__twitter {
      &--btn {
        width: 44px;
        height: 44px;
        color: #fff;
        background: #0099e8;
        border-radius: 4px;
        line-height: 44px;
        font-size: 26px;
      }
    }
    &__line {
      &--btn {
        width: 44px;
        height: 44px;
        color: #fff;
        background: #00c137;
        border-radius: 4px;
        line-height: 44px;
        font-size: 26px;
      }
    }
    &__pinterest {
      &--btn {
        width: 44px;
        height: 44px;
        color: #fff;
        background: #aa262a;
        border-radius: 4px;
        line-height: 44px;
        font-size: 26px;
      }
    }
  }
}

.itemsboxperson__flex {
  display: flex;
  flex-wrap: wrap;
}

.itemsboxperson__content__img {
  margin-right: 13px;
  margin-bottom: 10px;
  background-color: $sectionclor1;
}
.itemsboxperson {
  overflow: hidden;
  &__head {
    font-size: 22px;
    margin: 24px 0 8px;
    
    &--btn {
      color: #0099e8;
      text-decoration: none;
    }
  }
  &__content {
    width: auto;
    width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    &__body {
      padding: 16px;
      height: 110px;
      margin: 0;
      &__name {
        font-weight: 400;
        height: 3em;
        line-height: 1.5;
        word-break: break-word;
        
      }
      &__price {
        justify-content: space-between;
        display: flex;
        &__font {
          font-size: 16px;
          font-weight: 600;
          color: #333;
        }
        &__like {
          font-size: 16px;
          font-weight: 400;
          color: #333;
        }
      }
    }   
  }
}



.itemsboxgenre {
  overflow: hidden;
  background-color: $sectionclor;
}




.genrelist {
  overflow: hidden;
  padding: 16px 0;
  background-color: $sectionclor;
  display: flex;
  border-top: 1px solid rgb(211, 209, 209);
  padding-left: 170px;
  &__right {
    margin-right: 5px;
    &__mercari {
      text-decoration: none;
      color: black;
    }
  }
  &__left {
    font-weight: 600;
  }
}

// コメント一覧用のcss

.comment {
  width: 600px;
  min-width: 600px;
  margin-bottom: 20px;
  &__name {
    left: auto;
    right: 56px;
    text-align: right;
    text-decoration: none;
    color: #ea352d; 
  }
  &__content{
    margin-left: 150px;
    
    background: #fbf0e6;
    padding: 16px;
    border-radius: 15px;
    position: relative;
  }
}
/* 大きい丸 */
.comment__content::before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background: #fbf0e6;
  left: -35px;
  bottom: 15px;
  width: 30px;
  height: 30px;
}
/* 小さい丸 */
.comment__content::after{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background: #fbf0e6;
  left: -55px;
  top: 0px;
  width: 15px;
  height: 15px;
}

// 出品者の所のアイコン

.iconyo {
  font-size: 16px;
  vertical-align: middle;
  &__left {
    color: #ef5185;
  }
  &__center {
    color: #fba933;
    margin-left: 20px;
  }
  &__right {
    color: #6ab5d8;
    margin-left: 20px;
  }
}

// カテゴリーの所
.catecate {
  color: #0099e8;
  text-decoration: none;
}

// 画像複数枚の表示
.mainbox-images-sub {
  display: flex;
  flex-wrap: wrap;
}

// 画像にマウスを置いた時のいろの変化
img:hover {
  opacity: 0.75;
}

// 商品詳細のパンくず
a {
  text-decoration: none;
  color: #333;
}
