$font-color: #333;
$color: #ffffff;
$color-ccc: #ccc;
$color-eee: #eee;
$font-type: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
@mixin box {
  text-align: center;
  width: 50%;
  border-top: 2px solid #ea352d;
  font-size: 16px;
  font-family: $font-type;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.contents {
  width: 100%;
  margin-bottom: 10px;
  .menu {
    background-color: $color;
    margin: 0 auto;
    border-top: 1px solid $color-eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    .head {
      margin: 0 auto;
      width: 1020px;
      font-size: 14px;
      display: flex;
      padding: 16px 0;
      &__home {
        margin-right: 10px;
        text-decoration: none;
        color: $font-color;
        display: inline-block;
      }
      &__icon {
        display: inline-block;
        color: #888;
        &--tab {
          margin-right: 10px;
        }
      }
      &__mypage {
        display: inline-block;
        font-family: $font-type;
        font-weight: 600;
      }
    }
  }
  .center {
    width: 1020px;
    margin: 40px auto 0;
    display: flex;
    .left {
      width: 280px;
      margin-right: 40px;
      height: 100%;
      .left-container {
        height: 100%;
        &__list {
          width: 100%;
          border-bottom: solid 1px $color-ccc;
          padding: 16px;
          height: 48px;
          text-align: right;
          position: relative;
          background-color: $color;
          &--tag {
            color: $font-color;
            text-decoration: none;
            font-size: 14px;
            position: absolute;
            top: 16px;
            left: 16px;
            bottom: 0;
          }
          &--icon {
            color: $color-ccc;
          }
        }
        &__pay {
          font-size: 16px;
          margin: 40px 0 8px 0;
          padding: 5px;
        }
        &__setting {
          font-size: 16px;
          margin: 40px 0 8px 0;
          padding: 5px;
        }
      }
    }
    .right {
      .right-container {
        background-size: 700px 200px;
        position: relative;
        .right-block {
          padding: 20px;
          position: absolute;
          top: 30px;
          left: 0;
          right: 0;
          text-align: center;
          &--tag {
            color: $color;
            text-decoration: none;
          }
          &__name {
            font-size: 14px;
            margin-top: 8px;
          }
          &__information {
            color: $color;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            font-size: 14px;
            &--evaluation {
              margin-right: 16px;
            }
          }
        }
      }
      .right-center {
        width: 700px;
        background-color: $color;
        .right-box {
          height: 74px;
          display: flex;
          background-color: $color;
          &__list {
            @include box;
            background-color: $color;
            &--tag {
              line-height: 74px;
              text-decoration: none;
              color: $font-color;
            }
          }
          &__todo {
            @include box;
            background-color: $color-eee;
            &--tag {
              line-height: 74px;
              text-decoration: none;
              color: $font-color;
            }
          }
        }
        .right-notice {
          width: 100%;
          height: 100%;
          .notice-list {
            text-decoration: none;
            height: 80px;
            width: 100%;
            &__link{
              display: flex;
              width: 100%;
              padding: 16px;
              text-decoration: none;
              .notice-box {
                width: 700px;
                margin: 0 40px 0 40px;
                &__text {
                  color: $font-color;
                  font-size: 14px;
                }
                &__time {
                  display: flex;
                  &--icon {
                    margin-right: 8px;
                    font-size: 16px;
                    line-height: 20px;
                    color: $color-ccc;
                  }
                  &--ago {
                    font-size: 14px;
                    color: $color-ccc;
                  }
                }
              }
              .notice-icon {
                line-height: 50px;
              }
            }
          }
          .list-display {
            width: 100%;
            height: 88px;
            padding: 16px;
            &__link {
              text-decoration: none;
            }
            &__btn {
              height: 56px;
              line-height: 56px;
              font-size: 14px;
              text-align: center;
              background-color: $color-eee;
              color: $font-color;
            }
          }
        }
      }
      .right-bottom {
        width: 700px;
        height: 100%;
        margin: 40px 0 0;
        .bottom-block {
          height: 72px;
          line-height: 72px;
          padding: 0 16px;
          background-color: $color;
          font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
          font-weight: 600;
          font-size: 16px;
        }
        .bottom-box {
          display: flex;
          height: 74px;
          line-height: 74px;
          &__list {
            @include box;
            background-color: $color;
            &--tag {
              text-decoration: none;
              color: #333;
            }
          }
          &__past {
            @include box;
            background-color: $color-eee;
            &--tag {
              text-decoration: none;
              color: $font-color;
            }
          }
        }
        .bottom-notice {
          background-color: $color;
          text-align: center;
          position: relative;
          z-index: 1;
          .bottom-list {
            background-color: $color;
            padding: 160px 0 60px;
            font-size: 16px;
            color: $color-ccc;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
