$sectionclor: #f5f5f5;
$sectionclor1: white;
$font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
$font-weight: 600;
$font-color: #333;
$color: #ffffff;
$color-ccc: #ccc;
$color-eee: #eee;
