$font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
$font-weight: 600;
@mixin box {
  margin: 8px 0 0 ;
}

.addresses {
  width: 700px;
  background-color: white;
  .addresses-top {
    text-align: center;
    font-size: 24px;
    padding: 8px 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;
    font-family: $font-family;
  }
  .addresses-center {
    .addresses-form {
      box-sizing: border-box;
      padding: 64px;
      &__group {
        font-size: 14px;
        @include box;
        &--tag {
          text-decoration: none;
          display: block;
          margin: 8px 0 0 ;
          text-align: right;
          color: #0099e8;
        }
      }
      &__list {
        margin: 40px 0 0;
        font-family: $font-family;
        font-size: 14px;
        &--label {
          font-weight: $font-weight;
        }
        &--box {
          @include box;
        }
      }
      &__block {
        margin: 40px 0 0;
        &--label {
          display: inline;
          font-weight: $font-weight;
          font-family: $font-family;
          font-size: 14px;
        }
        &--box {
          display: inline;
          background-color: #ccc;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          box-sizing: border-box;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        &--text {
          width: 100%;
          @include box;
          box-sizing: border-box;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #fff;
          line-height: 48px;
        }
      }
      &__submit {
        margin: 40px 0 0;
        background-color: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        width: 100%;
        text-align: center;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
      }
      &__link {
        margin: 40px 0 0;
        text-align: right;
        &--tag {
          text-decoration: none;
          color: #0099e8;
          font-size: 14px;
          display: block;
          @include box;
        }
      }
    }
  }
}